canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    font: 13px/18px Tahoma, sans-serif, Arial, Helvetica;
}

.im_dialog_peer {
    color: #222;
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 2px;
}